<div class="timer-choices">
    <div class="timer-choice">
        <input type="radio" id="timer-choice-2" name="timer-kind" (click)="setTimer('2')">
        <label for="timer-choice-2" ngbTooltip="La durée s'ajuste au fil de la partie">Minuterie adaptative</label>
    </div>

    <div class="timer-choice">
        <input type="radio" id="timer-choice-1" name="timer-kind" (click)="setTimer('1')">
        <label for="timer-choice-1" ngbTooltip="Définissez vos propres durées">Minuterie personnalisée</label>
    </div>

    <div class="timer-choice">
        <input type="radio" id="timer-choice-0" name="timer-kind" (click)="setTimer('0')">
        <label for="timer-choice-0" ngbTooltip="Aucune limite de temps">Sans minuterie</label>
    </div>
</div>