<h2>Comment jouer : Direction</h2>

<p>Chaque question présente une série de relations directionnelles : les prémisses indiquent où se situe un objet par rapport à un autre. Par exemple :</p>
<ul>
    <li>Nuage est à deux pas au nord et à un pas à l'ouest de Musicien</li>
    <li>Musicien est à deux pas au sud de Hibou</li>
</ul>

<p>If the question provides a conclusion like "Hibou est à deux pas à l'est de Nuage," and your map shows that "Hibou" is indeed two steps East of "Nuage," click <strong>Vrai</strong> sinon appuyez sur <strong>Faux</strong>.</p>
<p>Dans cet exemple, vous appuieriez sur <strong>Faux</strong> car « Hibou » n'est qu'à un pas à l'est de « Nuage ».</p>

<h3>The <span class="is-negated">Inversion</span> Cue</h3>
<p>Lorsqu’un fragment apparaît surligné en <span class="is-negated">rouge</span>, c’est le signe qu’il faut inverser mentalement l’information présentée.</p>