<h2 class="text-center">Palier</h2>
    
<ul class="list-group">
    <li class="list-group-item flex-between">
        <b>Palier</b>
        <div>{{ game.tier }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Points gagnés</b>
        <div>{{ game.score }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Palier suivant</b>
        <div>{{ nextTier }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Points restants avant le palier suivant</b>
        <div>{{ pointsRemaining }}</div>
    </li>
</ul>
