<app-card>
    <div body style="min-width: 320px; padding-top: 3rem;">
        <app-progress-and-performance></app-progress-and-performance>
        
        <ul class="list-group mb-4">
            <li class="list-group-item flex-between">
                <b>Palier</b>
                <div>{{ game.tier }} {{ game.score }} pts <small class="text-muted">(suivant : {{nextTier}}<i [ngbTooltip]="pointsRemaining + ' points avant ce palier'" class="bi bi-info-circle ms-1"></i>)</small></div>
            </li>
    
            <li class="list-group-item flex-between">
                <b>Bonnes réponses</b>
                <div>{{ correctQs.length }}</div>
            </li>

            <li class="list-group-item flex-between">
                <b>Temps écoulé</b>
                <div>{{ unansweredQs.length }}</div>
            </li>

            <li class="list-group-item flex-between">
                <b>Erreurs</b>
                <div>{{ incorrectQs.length }}</div>
            </li>

            <li class="list-group-item flex-between">
                <b>Meilleure série</b>
                <div>{{ longestStreak.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Série en cours</b>
                <div>{{ currentStreak.length }}</div>
            </li>
        
            <li class="list-group-item flex-between">
                <b>Temps de jeu aujourd'hui</b>
                <div>{{ formatTime(timePlayedToday) }}</div>
            </li>

            <li class="list-group-item flex-between">
                <b>Temps de jeu cette semaine</b>
                <div>{{ formatTime(timePlayedThisWeek) }}</div>
            </li>
        </ul>

        <div class="text-center">
            <a class="btn btn-outline-primary" (click)="router.navigate([EnumScreens.Settings])">
                <i class="bi bi-gear"></i> Réglages
            </a>
        </div>
    </div>

    <div footer class="text-center d-flex justify-content-center gap-3">
        <button
            style="width: 150px;"
            class="btn btn-primary"
            (click)="game.playArcadeMode()"
        >Partie classée</button>
        <button
            style="width: 150px;"
            class="btn btn-outline-primary"
            (click)="router.navigate([EnumScreens.PlaygroundMode])"
        >Bac à sable</button>
    </div>
</app-card>