<h2>Comment jouer : Syllogisme</h2>

<p>Chaque syllogisme commence par un ensemble de prémisses. Par exemple :</p>
<ul>
    <li>Au moins un Volcan est un Tonneau</li>
    <li>Aucun Placard n'est un Hérisson</li>
    <li>Aucun Placard n'est un Volcan</li>
    <li>Tout Hérisson est un Volcan</li>
</ul>

<p>Le jeu propose ensuite une conclusion à évaluer à partir des prémisses. Par exemple :</p>
<p><strong>Conclusion :</strong> "Au moins un Placard est un Tonneau."</p>

<p>Une fois les prémisses et la conclusion analysées, appuyez sur <strong>Vrai</strong> si vous estimez que la conclusion découle logiquement des prémisses, ou sur <strong>Faux</strong> si ce n’est pas le cas.</p>

<h3>The <span class="is-negated">Inversion</span> Cue</h3>
<p>Lorsqu’un fragment apparaît surligné en <span class="is-negated">rouge</span>, c’est le signe qu’il faut inverser mentalement l’information présentée.</p>

<ul>
    <li> <span class="is-negated">is</span> équivaut à <strong> n'est pas</strong></li>
    <li> <span class="is-negated"> n'est pas</span> équivaut à <strong>is</strong></li>
    <li> <span class="is-negated">Tout</span> équivaut à <strong>No</strong></li>
    <li> <span class="is-negated">No</span> équivaut à <strong>Tout</strong></li>
</ul>
