<h2 class="text-center">Réussite</h2>
    
<ul class="list-group">
    <li class="list-group-item flex-between">
        <b>Bonnes réponses</b>
        <div>{{ correctQs.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Réponses fausses</b>
        <div>{{ incorrectQs.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Questions sans réponse</b>
        <div>{{ unansweredQs.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Série en cours</b>
        <div>{{ currentStreak.length }}</div>
    </li>

    <li class="list-group-item flex-between">
        <b>Meilleure série</b>
        <div>{{ longestStreak.length }}</div>
    </li>
</ul>
