<h2>Comment jouer : Binaire</h2>

<p>Chaque question binaire commence par un ensemble de relations entre éléments. Par exemple :</p>
<ul>
    <li>Marteau est identique à Tabouret</li>
    <li>Tabouret est l'opposé de Pupitre</li>
    <li>Aucun Violon n'est un Gardien</li>
    <li>Tout Violon est un Tableau</li>
    <li>Marteau est identique à Pupitre</li>
</ul>

<p>Considérez maintenant la conclusion suivante :</p>
<blockquote>"Marteau est identique à Pupitre <em>ou</em> Aucun Gardien n'est un Tableau"</blockquote>

<p>À partir de votre analyse, appuyez sur <strong>Vrai</strong> si vous estimez que la relation donnée est correcte, ou sur <strong>Faux</strong> si vous pensez que non.</p>

<h3>The <span class="is-negated">Inversion</span> Cue</h3>
<p>Lorsqu’un fragment apparaît surligné en <span class="is-negated">rouge</span>, c’est le signe qu’il faut inverser mentalement l’information présentée.</p>
